.git
.gitignore
.env
.env.*
!.env.example
.fleet
.idea
.vscode
node_modules
vendor
public/build
public/hot
public/storage
storage/logs/*.log
.phpunit.result.cache
phpunit.xml
tests
*.sql
npm-debug.log
yarn-error.log
